<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/Principal/body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/Header/header.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Footer/footer.css') }}">
    
    <title>Paróquia da Torre</title>
</head>
<body>
    <nav>
        <h2>Paróquia da Torre</h2>
        <ul>
            <li><a href="{{ url_for('index')}}">Sobre Nós</a></li>
            <li><a href="#VisiteNos">Visite-Nos</a></li>
            <li><a href="#faq">F.A.Q</a></li>
            <li><a href="{{ url_for('contribuir') }}">Contribuir</a></li>

            {% if current_user[0] %}
            <li><a>Olá, {{current_user[0][1]}}</a></li>
            <li><a href="{{ url_for('logout')}}">Sair</a></li>
            {% else %}
            <li><a href="{{ url_for('login')}}">Entre aqui</a></li>
            {%endif%}
            
            <!-- {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('login')}}">Olá, {{Usuario.Nome}}</a></li>
            {% endif %} -->
        </ul>
    </nav>

    <div id='SobreNos'>
        <div class="linhas">
            <div id="linha1">
                <img src="../static/imgs/2094065_x720 (1).jpg"
                    alt="" id="imagem1"></img>
                <div id="texto1">
                    <h2>Quem Somos</h2>
                    <p>Formada pela Igreja Nossa Senhora do Rosário e Santa Luzia e pela Capela de São Francisco, a Paróquia da Torre acolhe os
                    fiéis do bairro desde 1912. É conduzida pelo amado pároco Monsenhor Romeu da Fonte e atualmente por padre Luciano Brito.
                    A paróquia atua ativamente na comunidade através do acesso aos sacramentos, além de destacar-se por suas 28 pastorais,
                    incluindo serviços de evangelização, catequéticos, médicos, psicológicos e de caridade.</p>
                </div>
            </div>
            <h3>Nossos Projetos</h3>
            <div id="linha2">
                <div id="texto2">
                    <h2>Distribuição de Pães e Sopas</h2>
                    <p>A paróquia da Torre distribui semanalmente cerca de 1800 pães e 150 potes de sopa, através das pastorais do sorriso e do
                    pão. Para ajudar faça sua doação em dinheiro ou alimento, suas orações e divulgação também serão muito
                    bem-vindos! Venha conhecer!</p>
                </div>
                <div id="texto3">
                    <h2>Doação de Roupas</h2>
                    <p>A Igreja da Torre é um ponto constante de arrecadação de roupas e calçados para doação. Sempre que puder, faça sua parte
                    e deixe sua doação na secretaria da Igreja. A paróquia ficará responsável por distribuir aos mais necessitados ou abrir
                    um bazar em prol de suas pastorais, em benefício da comunidade.</p>
                </div>
                <div id="texto4">
                    <h2>Distribuição de Alguma Outra Coisa</h2>
                    <p>Além da arrecadação de roupas, a igreja também recebe outros itens para doação, tais como material para enxoval,
                    eletrodomésticos, livros e brinquedos. Se desejar doar qualquer item, traga para a secretaria da Igreja e a paróquia
                    ficará responsável por distribuir.</p>
                </div>
            </div>
            <h3>Sobre Nós</h3>
            <div id="linha3">
                <img src="../static/imgs/fieisEmOracao.jpg"
                    alt="" id="imagem2"></img>
                <div id="texto5">
                    <h2>Sobre a Pastoral:</h2>
                    <p>Há mais de 10 anos, na capelinha São Francisco, a querida Pastoral do Pão foi incluída entre as 28 pastorais da paróquia
                    da Torre. Desde então, tem contado com a ajuda de fiéis voluntários para entregar pão aos moradores necessitados das
                    comunidades próximas.</p>
                </div>
            </div>
            <div id="linha4">
                <div id="texto6">
                    <p>A pastoral hoje funciona com um cadastro dos beneficiados, porém não se limita a distribuir alimento apenas para eles, é
                    doado o pão arrecadado a todos que chegam. Além disso, também uma oração é feita com eles, para que recebam alimento
                    espiritual. Tal ação é coordenada por um casal da Igreja, mas é formada por muitos paroquianos e benfeitores, que
                    contribuem a cada semana. Atualmente, a pastoral ocorre aos sábados, no salão da Igreja Matriz e funciona junto com a
                    pastoral do sorriso, que distribui sopa em conjunto.</p>
                </div>
                <img src="../static/imgs/doacaoAlimentos.jpg"
                    alt="" id="imagem3"></img>
            </div>
            <div id="linha5">
                <div id="texto7">
                    <h2>Sobre Romeu:</h2>
                    <p>O cônego Monsenhor Romeu da Fonte, por opção entro no seminário de Olinda com 11 anos e ordenou-se sacerdote com 25
                    anos.
                    Nesta época, formou-se em filosofia. Em 1961, foi nomeado Vigário da Torre, logo após, pároco. Sua vida aqui,
                    inicialmente, foi de grandes sacrifícios. Dedicou-se de imediato à evangelização dos mais carentes e a conservação da
                    sua igreja</p>
                </div>
                <img src="../static/imgs/padreRomeu.jpg"
                    alt="" id="imagem4"></img>
                <div id="texto8">
                    <p>Seu primeiro sonho era construir uma escola no terreno da paróquia, o que foi realizado com o apoio do Governo.
                    Conseguiu também com autoridades, a criação da Vila de Santa Luzia, para dar condições mais dignas aos pobres da
                    paróquia. Na Vila, criou o Centro Comunitário Paula Francinete com as Irmãs da Dorotéias, composto de creche,
                    ambulatório médico e oficina para treinamento de mão-de-obra especializada. Criou um conselho paroquial com uma equipe
                    de voluntários que realizam maravilhas, sob sua liderança, assim como várias pastorais, onde homens, senhoras e jovens
                    desdobravam-se, em atendimento aos carentes.</p>
                </div>
            </div>
            <h3 id='VisiteNos'>Onde Nos Encontrar: </h3>
            <div id="linha6">
                <div id="texto9">
                    <p>Venha nos fazer uma visita. A Paróquia da Torre está localizada na Rua Conde de Irajá, S/n - Torre,
                        Recife - PE</p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.120183559029!2d-34.88603623702375!3d-8.089224493556621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1f38b3717117%3A0x4371e4b40bf66016!2sPar%C3%B3quia%20Nossa%20Senhora%20do%20Ros%C3%A1rio%20(Igreja%20Do%20Pina)!5e0!3m2!1spt-BR!2sbr!4v1669635168696!5m2!1spt-BR!2sbr"
                        width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
            <h3 id='faq'>FAQ: </h3>
            <div id="linha7">
                <div id="texto10">
                    <h2>Pergunta 1:</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum
                        veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis
                        similique velit eligendi aperiam natus repellat.</p>
                </div>
                <div id="texto11">
                    <h2>Pergunta 2:</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum
                        veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis
                        similique velit eligendi aperiam natus repellat.</p>
                </div>
            </div>
            <div id="linha8">
                <div id="texto12">
                    <h2>Pergunta 3:</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum
                        veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis
                        similique velit eligendi aperiam natus repellat.</p>
                </div>
                <div id="texto13">
                    <h2>Pergunta 4:</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus aspernatur nostrum
                        veritatis fugit autem laborum quasi consectetur blanditiis? Corporis id dolore quibusdam debitis
                        similique velit eligendi aperiam natus repellat.</p>
                </div>
            </div>
        </div>
    </div>

    <footer class='footer'> <!-- Footer -->
        <img class='logo'
            src='../static/imgs/logoIgreja.png'
            alt='Logo da Paróquia'></img>
        <p class='contato'>CONTATO</p>
        <ul class='icones'>
            <li><a href='https://www.facebook.com/paroquianossasenhoradorosariotorre/'><img class='' src='https://cdn-icons-png.flaticon.com/512/2175/2175193.png' alt=''></img></a>
            </li>
            <li><a href='https://www.instagram.com/paroquiadatorre/'><img class=''
                        src='https://cdn-icons-png.flaticon.com/512/3670/3670274.png' alt=''></img></a></li>
            <li><a href=' '><img class='' src='https://cdn-icons-png.flaticon.com/512/733/733641.png' alt=''></img></a></li>
            <li><a href='https://www.youtube.com/c/OuvemeWebTV/about'><img class='' src='https://cdn-icons-png.flaticon.com/512/1384/1384028.png' alt=''></img></a>
            </li>
        </ul>
        <p class='endereco'>Rua Conde de Irajá, S/n, Torre, Recife - PE</p>
        <ul class='outros'>
            <li>FAC</li>
            <li>Termos e Condições</li>
            <li>Políticas de Privacidade</li>
        </ul>
    </footer>
</body>
</html>